body {
  background: #ccc;
}

.inserir {
  margin-left: 200px;
}

.fun {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.63);
-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.63);
box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.63);
}