/*==============================================
[Main stylesheet style01.css]

Author:	William Pinheiro
Version:	1.0
Created:	12 september 2018
Last updated:	12 september 2018
Template:	Institucional 01
================================================*/
/*
[Table of Contents]

1. GENERAL
2. NAV
  2.1 RESPONSIVE MENU
3. BANNER
4. CONTAINER
5. FOOTER
6. MEDIA QUERY
*/

/*===============================*/
/* 1. GENERAL 					      	 */
/*===============================*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  color: #FFF;
}

a{
  text-decoration: none;
  color: #FFF;
}

/*===============================*/
/* 2. NAV      					      	 */
/*===============================*/
.nav-top {
  background: #353535;
}

.nav-int {
  width: 90%;
  max-width: 1200px;
  height: 60px;
  margin: auto;
  line-height: 60px;
}

.logo {
  float: left;
  font-size: 1.8em;
}

.logo img {
  height: 55px;
  padding-top: 3px;
}

.menu {
  float: right;
}

.menu li {
  float: left;
  padding: 0 10px;
  font-weight: 600;
  font-size: 1em;
  transition-duration: 0.5s;
}

.menu li:hover {
  background: #347ABA;
  cursor: pointer;
}

/* RESPONSIVE MENU */
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  display: none;
}

.menu-resp {
  display: none;
}


/*===============================*/
/* 3. BANNER   					      	 */
/*===============================*/
.banner {
  background: #347ABA;
  height: 300px;
}

.header-int {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.banner-left {
  float: left;
}

.texto01 {
  font-size: 3em;
  margin: 30px 0;
}

.texto02 {
  font-size: 1.2em;
}

.button {
  width: 300px;
  height: 70px;
  line-height: 70px;
  background: #FFA500;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  transition-duration: 1s;
}

.button:hover {
  background: #275988;
  color: #FFF;
}

.banner-right {
  float: right;
  margin-right: 55px;
}

/*===============================*/
/* 4. CONTAINER 				      	 */
/*===============================*/
.container-int {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.produtos {
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  height: 90px;
  line-height: 90px;
  text-align: center;
  clear: both;
}

.fotos {
  text-align: center;
}

.fotos img {
  margin: 0 15px;
  transition-duration: 0.5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 17px 1px rgba(46,74,117,0.38);
-moz-box-shadow: 0px 0px 17px 1px rgba(46,74,117,0.38);
box-shadow: 0px 0px 17px 1px rgba(46,74,117,0.38);
}

.fotos img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*===============================*/
/* 5. FOOTER    				      	 */
/*===============================*/
.footer {
  background: #347ABA;
  width: 100%;
  margin-top: 40px;
}

.footer-int {
  width: 90%;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

.social {
  font-weight: 600;
  margin: 10px 0;
}

.social img {
  height: 50px;
  margin: 0 10px;
  transition-duration: 1s;
}

.social img:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.copy {
  background: rgb(39, 89, 136);
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/*===============================*/
/* 6. Media Query				      	 */
/*===============================*/

@media (max-width: 768px){
  .nav-int {
    display: none;
  }
  .nav-top{
    position: fixed;
    width: 100%;
  }
  .logo2 img{
    height: 40px;
    margin-bottom: 5px;
    float: left;
  }
  .banner{
    padding-top: 60px;
  }
  .fa-2x {
    font-size: 1.8em;
  }

  .toggle{
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
    padding: 15px 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

  ul li:hover{
    background: #347ABA;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

  .active {
    display: block;
  }

  .banner-right{
    display: none;
  }

  .texto01 {
    text-align: center;
    font-size: 2.2em;
  }

  .texto02 {
    text-align: center;
  }

  .button {
    margin: auto;
    margin-top: 40px;
  }

  .fotos img {
    margin: 10px 0;
  }
}